*.pyc
webserver/*.pyc
.idea/
.idea/workspace.xml
*.o
*.swp
build/
c/canpi/obj
c/canpi/bin
c/canpi/canpi.log
canpi.log
cmake-build-debug/
copyfiles.sh
venv/
/cmake-build-rpi3buildlocal/
/cmake-build-rpi3buildremote/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
*.idx
*.log
AutoHotspot-Installer/